<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.entityToParty>
        <processor type="Web.SimplePayment.Pipelines.TranslateEntityToParty, Web.SimplePayment" />
      </translate.entityToParty>
      <translate.partyToEntity>
        <processor type="Web.SimplePayment.Pipelines.TranslatePartyToEntity, Web.SimplePayment" />
      </translate.partyToEntity>
    </pipelines>
    <commerce.Entities>
      <Party>
        <patch:attribute name="type">Web.SimplePayment.Entities.ExtendedCommerceParty, Web.SimplePayment</patch:attribute>
      </Party>
    </commerce.Entities>
  </sitecore>
</configuration>